* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
#page1 {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aqua;
}
#page2 {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(17, 255, 0);
}
#page3 {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(242, 255, 0);
}
#circle {
  height: 300px;
  width: 300px;
  background: linear-gradient(white, rgb(176, 112, 112), red);
  border-radius: 50%;
}
