* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
#box1 {
  height: 200px;
  width: 200px;
  background-color: crimson;
}
#box2 {
  height: 200px;
  width: 200px;
  background-color: royalblue;
}
#box3 {
  height: 200px;
  width: 200px;
  background-color: green;
}
