* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
#img1{
    height: 500px;
    width: 500px;
}
#img2{
    height: 500px;
    width: 500px;
}
button{
    height:100px;
    width:100px;
}